/**
 * Styles for the add-observation.html page 
 */
 
 .required:after {
    content: "* ";
    color: red;
   }

 #description{
    width: 550px;
   }

 #eLatitude{
    color: red;
   }

 #eLongitude{
    color: red;
   }

 #eLatitude::before{
    content: " "
   }

 #eLongitude::before{
    content: " "
   }

 #labelLatitude{
    color: black;
   }

 #labelLongitude{
    color: black;
   }

  